################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WebApplication7/WebApplication7/bin
/WebApplication7/.vs
/WebApplication7/packages
/WebApplication7/WebApplication7/obj/Debug
/WebShop/.vs/WebShop/v15
/WebShop/WebShop/bin
/WebShop/WebShop/obj/Debug
/IdentityApp/.vs
/IdentityApp/IdentityApp/bin
/IdentityApp/IdentityApp/obj/Debug
/IdentityApp/IdentityApp/App_Data/aspnet-IdentityApp-20180319090915.mdf
/IdentityApp/IdentityApp/App_Data/aspnet-IdentityApp-20180319090915_log.ldf
/IdentityApp/packages
/RolesApp/.vs/RolesApp/v15
/RolesApp/packages
/RolesApp/RolesApp/App_Data
/RolesApp/RolesApp/bin
/RolesApp/RolesApp/obj/Debug
/.vs
/AppCookies/.vs
/AppCookies/AppCookies/bin/Debug/netcoreapp2.1
/AppCookies/AppCookies/obj
/AppCookies/AppCookies/Migrations
/CookiesRoles/.vs
/CookiesRoles/CookiesRoles/bin/Debug/netcoreapp2.1
/CookiesRoles/CookiesRoles/obj
/WebNpgsql/.vs
/WebNpgsql/WebNpgsql/bin/Debug/netcoreapp2.1
/WebNpgsql/WebNpgsql/obj
/ChatSample/.vs
/ChatSample/ChatSample/bin/Debug/netcoreapp2.1
/ChatSample/ChatSample/obj
/CookiesRoles/CookiesRoles/node_modules
/CookiesRoles/node_modules
/SignalRHub/.vs
/SignalRHub/SignalRHub/bin/Debug/netcoreapp2.1
/SignalRHub/SignalRHub/obj
/RoutingApp/.vs
/RoutingApp/RoutingApp/bin/Debug/netcoreapp2.1
/RoutingApp/RoutingApp/obj
