################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WebApplication7/WebApplication7/bin
/WebApplication7/.vs
/WebApplication7/packages
/WebApplication7/WebApplication7/obj/Debug
/WebShop/.vs/WebShop/v15
/WebShop/WebShop/bin
/WebShop/WebShop/obj/Debug
/IdentityApp/.vs
/IdentityApp/IdentityApp/bin
/IdentityApp/IdentityApp/obj/Debug
/IdentityApp/IdentityApp/App_Data/aspnet-IdentityApp-20180319090915.mdf
/IdentityApp/IdentityApp/App_Data/aspnet-IdentityApp-20180319090915_log.ldf
/IdentityApp/packages
